---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css?family=PT+Sans');

a.deepLink {
  display: inline-block;
  padding: 5px;
  color: #999;
  opacity: 0.2;
}
a.deepLink:hover {
  opacity: 1;
}
h6 {
  color: #999;
  font-size: 0.9em;
  margin-bottom: 0;
}

h2,h3,h4,h5,h6 {
  margin-top: 1em;
}

body {
  font-size: 1.1em;
}
p.pages a{
    text-decoration: underline;
  display: block;
    margin-top: 0.3em;
    color: #999;
    padding-left: 5px;
    border-left: solid 4px #999;
}
p.pages a:hover{
    color: #000;
    border-left: solid 4px #000;
}
